<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>我的小区</string>
            <key>icon</key>
			<string>plaza-icon-village</string>
            <key>units</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>服务站</string>
                    <key>icon</key>
                    <string>plaza-icon-station</string>
                    <key>action</key>
                    <string>StationController</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>号码通</string>
                    <key>icon</key>
                    <string>plaza-icon-phonenumber</string>
                    <key>action</key>
                    <string>PhoneNumberController</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>论坛</string>
                    <key>icon</key>
                    <string>plaza-icon-bbs</string>
                    <key>action</key>
                    <string>BBSController</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>邻居</string>
                    <key>icon</key>
                    <string>plaza-icon-contacts</string>
                    <key>action</key>
                    <string>ContactsController</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>对话</string>
                    <key>icon</key>
                    <string>plaza-icon-conversation</string>
                    <key>action</key>
                    <string>ConversationController</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>邀请</string>
                    <key>icon</key>
                    <string>plaza-icon-invite</string>
                    <key>action</key>
                    <string>InviteController</string>
                </dict>
            </array>
		</dict>
        <dict>
			<key>name</key>
			<string>小区周边</string>
            <key>icon</key>
			<string>plaze-icon-nearby</string>
            <key>units</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>优惠</string>
                    <key>icon</key>
                    <string>plaza-icon-discount</string>
                    <key>action</key>
                    <string>DiscountController</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>商户</string>
                    <key>icon</key>
                    <string>plaza-icon-merchant</string>
                    <key>action</key>
                    <string>MerchantController</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>二手市场</string>
                    <key>icon</key>
                    <string>plaza-icon-secondhand</string>
                    <key>action</key>
                    <string>SecondhandController</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>拼车</string>
                    <key>icon</key>
                    <string>plaza-icon-carpool</string>
                    <key>action</key>
                    <string>CarpoolController</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>宠物</string>
                    <key>icon</key>
                    <string>plaza-icon-pet</string>
                    <key>action</key>
                    <string>PetController</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>家政</string>
                    <key>icon</key>
                    <string>plaza-icon-housekeeping</string>
                    <key>action</key>
                    <string>HousekeepingController</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>家教</string>
                    <key>icon</key>
                    <string>plaza-icon-education</string>
                    <key>action</key>
                    <string>EducationController</string>
                </dict>
            </array>
		</dict>
	</array>
</plist>
